*{
    margin: 0 auto;
    padding: 0;
}
/*Selector id*/
#cabecera{
    height: auto;
    width: auto;
     background-color: rgb(69, 175, 207);
 }
 #contenedor{
    width: 100%;
    height: auto;
    background-color: rgb(84, 185, 224);
    display: flexbox;
    justify-self: center;


 }
 #navbar{

    background-color: rgb(30, 156, 194);
    flex-wrap: wrap;
    height: 60px;
    display: flex;

 
 }
 #seccion{
     width: 100%;
     height: auto;
 
 }
 #piepag{
 
     height: 10%;
     background-color: rgb(53, 149, 212);
     margin-top: 5%;
 }
 .container{
height: 600px;
 }
 /*SELECTOR CLASS*/
 .encabezado{
     text-align: center;
     padding: .5em;
 }
 .img1{
     margin-top: 45px;
     margin-left: 2em;
     display: inline-block;
     align-self: center;
     align-items: center;
     opacity: 100;
     width: 250px;
     height: 200px;
     opacity: 89%;


 }
.img2{
    display: inline-flex;
    align-items: center;
    margin: 75px;
    width: 75px;
    height: 50px;
    opacity: 89%;
    margin-top: 60px;

   
}
 .section{
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 45px;
 
}
.section2{
    width: auto;
    height: auto;
    display: inline;
    flex-wrap: wrap;
    margin-top: 60px;
    width: 60%;
    height: 80%;
    margin-left: -30px;
 
}
 .descri{
    font-family: monospace;
    
 }
 .doc{
    font-family: monospace;
    text-align: justify;
 }

 .texto{
 
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     text-justify: inherit;
    justify-self: center;

 
 }
 .descripcion{
    font-family: monospace;
    

 }
 .pieNavegacion{
 
     width: auto;
    height: auto;
    padding: .5em;
 }
 .formulario{
    width: 90%;
    height: 80%;
    background-color: rgb(84, 185, 224);
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
 }
 .apartados{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
 }
 
.button{
    background-color: rgb(66, 141, 212);
    border: 0;
    margin-top: 5px;
    padding: 10px;
    color: white;
    justify-self: center;
    margin-left: 18px;

}
 /*Selector html*/
 label{
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    
 }
 ul{
    padding-top: 5px;
    text-align: center;
    list-style-type: none;
    padding: 10px;
    
 
 }
 li{
    
    display: inline;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    align-self: center;
    padding: 25px;

 }
 img{
     width: 200px;
     height: 150px;
     opacity: 89%;
    border-radius: 50px;
}
.imgd{
    border-radius: 75px;
}
 h3{
     text-align: center;
     font-family: monospace;
     font-size: large;
 }
 
 h1{
    text-align: center;

 }

 h4{
    text-align: center;
    font-family: monospace;
     font-size: large;
     font-weight: 1200;
     font-weight: 1200 ;
     
 }
 h2{
    
        text-align: center;
        font-family: monospace;
         font-size: large;
         font-weight: 1200 ;
         text-align: center;
    
 }
 p{
  text-align: justify;
  font-weight: bold;
 }
 a{
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: monospace;
 }

.sec1{
    margin-top: 60px;
    width: fit-content;
    height: 100%;
    background-color: rgb(104, 226, 124);
    display: inline-flexbox;
    justify-self: center;
}
.sec3{
    margin-top: 60px;
    width: fit-content;
    background-color: rgb(121, 218, 213);
    display: inline-flexbox;
    justify-self: center;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;

}
.servicios{
    display: flexbox;
    justify-self: center;
}
.containerShop{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    width: auto;
    display: inline-flex;
    justify-self: center;

}
.headerProduct{
    display: inline-block;
    font-family: monospace;
    font-weight: bold;
    
}
.headerProduct h3{
    text-align: start;
    text-align: center;


}
.bodyProduct{

    display: inline;
    font-family: monospace;
    
}
.bodyProduct p{
    padding-top: 10px;
    text-align: start;
    font-family: monospace;
    text-align: center;
}
.footerProduct{
    padding: 15px;
    display: inline-block;
    text-align: start;
    font-family: monospace;
    margin-left: 50px;
    text-align: center;

}
.product{
    padding: 12px;

}
